{{ if .Site.Params.widgets.enabled }}
    {{ $context := . }}
    <aside class="sidebar right-sidebar sticky">
        {{ range $widget := .Site.Params.widgets.enabled }}
            {{ partial (printf "widget/%s" $widget) $context }}
        {{ end }}
        <iframe data-aa="1281485" src="//ad.a-ads.com/1281485?size=320x50" scrolling="no" style="width:320px; height:50px; border:0px; padding:0; overflow:hidden" allowtransparency="true"></iframe>
    </aside>
{{ end }}