{{ $sm := .Get 0 }}
{{ $url := printf "http://api.ce.nicovideo.jp/nicoapi/v1/video.info?v=%s&__format=json" $sm }}
{{ $dataJ := getJSON $url }}
{{ $title := $dataJ.nicovideo_video_response.video.title }}
<script type="application/javascript" src="https://embed.nicovideo.jp/watch/{{ $sm }}/script?w=640&h=360"></script>
<noscript><a href="https://www.nicovideo.jp/watch/{{ $sm }}">{{ $title }}</a></noscript>
